@use "./variables.scss" as v;


.lazy-load {
    opacity: 0.5;
    transform: scale(0.6);
    transition: all 0.5s ease-out;
}
.lazy-load.loaded {
    opacity: 1;
    transform: scale(1);
}

.slidercontainer {
    display: flex;
    flex-direction: column;
    padding: 120px v.$margin-mobile 0 v.$margin-mobile;
    gap: 20px;

    @media only screen and (min-width:v.$lg){
        flex-direction: row;
        padding: 120px 200px v.$margin-desktop v.$margin-desktop;
        gap: 40px;
    }

    &__section {
        position: relative;
        display: inline-block;
        font-size: 2rem;
        object-fit: cover;
        border-radius: 16px;

        @media only screen and (min-width:v.$lg){
            min-width: calc(100vh - 120px - v.$margin-desktop - 150px);
            height: calc(100vh - 120px - v.$margin-desktop);

            &--sm {
                min-width: calc(100vh - 120px - v.$margin-desktop - 180px);
            }
            &--md {
                min-width: calc(100vh - 120px - v.$margin-desktop);
            }
            &--lg {
                min-width: calc(100vh - 120px - v.$margin-desktop + 180px);
            }
        }
        
        &__first {
            min-width: calc(100vw - v.$margin-desktop);
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            @media only screen and (min-width:v.$lg){
                flex-direction: row;
                gap: 60px;
            }

            .image {
                min-width: 45%;
                object-fit: cover;
                border-radius: 16px;

                @media only screen and (min-width:v.$lg){
                    height: 86%;
                }
            }

            .textcontainer {
                color: black;
                margin-top: 60px;
                margin-bottom: 10px;

                @media only screen and (min-width:v.$lg){
                    padding: v.$margin-desktop;
                    padding-right: 100px;
                    margin-top: 0;
                }

                &__categories {
                    font-family: 'Poppins-LightItalic';
                    font-size: 1.25rem;
                }

                &__title {
                    font-family: 'Lilita One';
                    font-size: 3rem;
                    text-transform: uppercase;
                    margin: 10px 0;
                }

                &__description {
                    font-family: 'Poppins-Regular';
                    font-size: 1.125rem;
                    margin-bottom: 20px;
                }

                &__link {
                    font-family: 'Poppins-Semibold';
                    font-size: 1.125rem;
                    text-transform: uppercase;

                    padding: 5px 15px;
                    border-radius: 32px;
                    border: 1px solid black;

                    text-decoration: none;
                    color: black;
                }
            }
        }

        &:last-child {
            min-width: 15px;
        }
    }
}


.backbutton {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 5px;
    margin-left: -10px;

    @media only screen and (min-width: v.$lg) {
        margin-bottom: 0;
    }

    p {
        font-family: 'Poppins-Light';
        font-size: 1.25rem;
        margin-left: 35px;

        @media only screen and (min-width: v.$lg) {
            font-size: 1.5rem;
        }
    }

    svg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(90deg) scale(0.8);
        transition: all .3s ease-in-out;

        @media only screen and (min-width: v.$lg) {
            transform: translateY(-50%) rotate(90deg) scale(1);
        }
    }

    &:hover {

        svg {
            margin-left: -10px;
        }
    }
}


