@use "./variables.scss" as v;


.dragtext {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    pointer-events: none;
    width: max-content;

    font-family: 'Poppins-Semibold';
    font-size: 1rem;
    text-transform: uppercase;
}

.projectInfo {
    display: none;
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 50vw;
    text-align: center;
    pointer-events: none;

    &__title {
        font-family: 'Lilita One';
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__categories {
        font-size: 1.5rem;
    }
}


