<!DOCTYPE html>
<html lang="nl">
<head>
    {% include "basehead.html" %}
</head>
<body>
    <nav class="navcontainer">
        <a href="/"><img class="navcontainer__logo" src="/assets/niels_logo_black.png" alt=""></a>
        <div class="navcontainer__titlecontainer no-select">
            <a href="https://en.wikipedia.org/wiki/Web_development" target="_blank" id="title1" class="navcontainer__titlecontainer__title">Fullstack-Developer</a>
            <a href="https://en.wikipedia.org/wiki/User_experience_design" target="_blank" id="title2" class="navcontainer__titlecontainer__title">UX/UI Designer</a>
            <a href="https://en.wikipedia.org/wiki/Graphic_designer" target="_blank" id="title3" class="navcontainer__titlecontainer__title">Graphic Designer</a>
        </div>
    </nav>

    {{ content | safe }}
    
    <div class="noise"></div>
</body>
</html>

<script>
    const titles = [
        document.getElementById('title3'),
        document.getElementById('title2'),
        document.getElementById('title1')
    ];

    // Set initial styles
    titles[0].style.opacity = 0;
    titles[0].style.marginRight = '60px';
    titles[1].style.opacity = 0;
    titles[1].style.marginRight = '60px';
    titles[2].style.opacity = 0;
    titles[2].style.marginRight = '60px';

    // Change styles animation
    document.addEventListener("DOMContentLoaded", (event) => {
        let counter = 0;
        let i = setInterval(function(){
            titles[counter].style.opacity = 1;
            titles[counter].style.marginRight = '0px';

            counter++;
            if(counter === 3) {
                clearInterval(i);
            }
        }, 300);
    });
</script>