---
layout: layouts/base.html
title: Niels Hos Sideprojects
description: Welkom! Hier laat ik al mijn sideprojects zien die niet op mijn portfolio staan, maar wel een plekje verdienen!
---

<div class="slidercontainer">
    <div class="slidercontainer__section slidercontainer__section__first">
        <a href="/sideprojects" class="backbutton">
            <svg width="38px" height="38px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5303 9.46967C18.8232 9.76256 18.8232 10.2374 18.5303 10.5303L12.5303 16.5303C12.2374 16.8232 11.7626 16.8232 11.4697 16.5303L5.46967 10.5303C5.17678 10.2374 5.17678 9.76256 5.46967 9.46967C5.76256 9.17678 6.23744 9.17678 6.53033 9.46967L12 14.9393L17.4697 9.46967C17.7626 9.17678 18.2374 9.17678 18.5303 9.46967Z" fill="#000000"/> </g></svg>
            <p>Terug</p>
        </a>
        <img class="image" src="{{ imageUrl }}" alt="">
        <div class="textcontainer">
            <p class="textcontainer__categories">{{ categories }}</p>
            <h1 class="textcontainer__title">{{ name }}</h1>
            <p class="textcontainer__description">{{ description }}</p>

            {% if link %}
            <a href="{{ link }}" target="_blank" class="textcontainer__link">Bekijk website</a>
            {% endif %}
        </div>
    </div>
    {{ content | safe }}
    <div class="slidercontainer__section"></div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<script>
    gsap.registerPlugin(ScrollTrigger);

    let slider = document.querySelector(".slidercontainer");

    gsap.to(slider, {
        x: () => -(slider.scrollWidth - window.innerWidth) + "px",
        ease: "none",
        scrollTrigger: {
            trigger: slider,
            start: "top top",
            end: () => "+=" + (slider.scrollWidth - window.innerWidth),
            scrub: 1,
            pin: true
        }
    });


    const lazyImages = document.querySelectorAll('.lazy-load');


    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
            const image = entry.target;

            if (entry.isIntersecting) {

                image.src = image.dataset.src;

                image.classList.add('loaded');
            }
        });
    }, {
        root: null,
        rootMargin: '0px',
        threshold: 0.1 // 10% van de afbeelding moet in beeld zijn om de actie te triggeren
    });


    lazyImages.forEach(image => {
        observer.observe(image);
    });

</script>